﻿@model Blog5.Models.Comment

<div class="display-field">
    <h2>cach day: @html.DisplayFor(Model => Model.LastTime)</h2>
</div>
<div class="display-field">
    @Html.DisplayFor(Model=>Model.Body)
</div>